<div class="address-picker-container">

  <input #search style="display: none"/>

  <div class="search" *ngIf="!isEdit">
    <fs-address-search
      [address]="addressValue"
      (select)="selectSearch($event)"
    ></fs-address-search>

    <div class="input-controls" *ngIf="addressDetails">
      <button
        mat-icon-button
        (click)="clear()"
      ><mat-icon>close</mat-icon></button>
      <button
        mat-icon-button
        (click)="edit()"
      ><mat-icon>create</mat-icon></button>
    </div>
  </div>

  <div *ngIf="isEdit">
    <fs-address
      [(address)]="addressDetails"
      [(config)]="config"
      (change)="change($event)"
    ></fs-address>
    <button
      mat-button
      (click)="save()"
    >Save</button>
  </div>

  <!--<form (ngSubmit)="save(form)" #form="ngForm" fsForm *ngIf="isEdit">-->
    <!--<fs-address [(address)]="address" [(config)]="config" (change)="change($event)"></fs-address>-->
    <!--<button mat-button type="submit">Save</button>-->
  <!--</form>-->

</div>

<pre>isEdit - {{isEdit}}</pre>
