<div class="address-picker-container" [ngSwitch]="view">

  <div class="search" *ngSwitchCase="'search'">
    <fs-address-search
      [(address)]="address"
      [config]="config"
      [format]="format"
      [disabled]="disabled"
      [readonly]="readonly"
      [name]="name"
      (edited)="searchEdited()"
      (addressChange)="searchChanged($event)">
    </fs-address-search>
  </div>

  <div *ngSwitchCase="'edit'">
    <fs-address
      [(address)]="address"
      [config]="config"
      (collapseChange)="viewSearch()">
    </fs-address>
  </div>

</div>
