<div class="address-picker-container">

  <div class="search" [hidden]="view === 'search'">
    <fs-address-search
      [(address)]="address"
      [config]="config"
      [format]="format"
      [disabled]="disabled"
      [readonly]="readonly"
      [name]="name"
      (edited)="searchEdited()"
      (addressChange)="searchChanged($event)">
    </fs-address-search>
  </div>

  <div [hidden]="view !== 'search'">
    <fs-address
      [(address)]="address"
      [config]="config"
      (collapseChange)="viewSearch()">
    </fs-address>
  </div>

</div>
