<fieldset class="formatExamplePanels">
  <legend>One Line Format</legend>
  <fs-address-format [address]="address"></fs-address-format>
</fieldset>

<fieldset class="formatExamplePanels">
  <legend>Two Line Format</legend>
  <fs-address-format [address]="address" [format]="AddressFormat.TwoLine"></fs-address-format>
</fieldset>

<fieldset class="formatExamplePanels">
  <legend>Summary Format</legend>
  <fs-address-format [address]="address" [format]="AddressFormat.Summary"></fs-address-format>
</fieldset>
