:host ::ng-deep {
  fs-address-format {
    display: block;

    &.editable {
      cursor: pointer;
    }
  }

  mat-form-field {
    width: 100%;
  }

  .hide {
    input {
      visibility: hidden;
      position: absolute;
    }
  }
}