<fs-address-autocomplete
    [config]="config"
    [(ngModel)]="address"
    [disabled]="disabled"
    (addressChange)="addressSelected()"
    [ngClass]="{ hide: !addressControl.empty }"
    [placeholder]="config.label"
    [name]="autocompleteName"
    [required]="required"
    #addressControl>
  <fs-address-format
    [address]="address"
    [format]="format"
    [showName]="showName"
    (click)="editClick()"
    [ngClass]="{ editable: editable }"
    [disabled]="disabled">
  </fs-address-format>
</fs-address-autocomplete>
