<mat-form-field
  [floatLabel]="addressControl.empty ? 'auto' : 'always'">
  <fs-address-format
    [address]="address"
    [format]="format"
    [name]="name"
    (click)="edit()"
    [ngClass]="{ editable: editable }"
    [disabled]="disabled">
  </fs-address-format>

  <fs-address-autocomplete
    [config]="config"
    [(ngModel)]="address"
    [disabled]="disabled"
    (addressChange)="addressChanged()"
    [ngClass]="{ hide: !addressControl.addressIsEmpty }"
    [placeholder]="config.label || 'Location'"
    [name]="autocompleteName"
    [required]="required"
    #addressControl>
  </fs-address-autocomplete>

  <mat-icon
    class="control"
    matSuffix
    *ngIf="!addressControl.addressIsEmpty && !disabled && !readonly"
    (click)="clear()">clear
  </mat-icon>
  <mat-hint *ngIf="config.hint">{{ config.hint }}</mat-hint>
</mat-form-field>
