<div fxLayout="row">
  <mat-form-field fxFlex>
    <input
      matInput
      [(ngModel)]="address.name"
      [disabled]="config.name.disabled"
      [fsFormRequired]="config.name.required"
      name="location_name"
      placeholder="Location name"
      aria-label="Location name"
      (change)="search($event)"
      autocomplete="off">
  </mat-form-field>
</div>

<div fxLayout="row">
  <mat-form-field fxFlex>
    <input
      matInput
      [(ngModel)]="address.street"
      [disabled]="config.street.disabled"
      [fsFormRequired]="config.street.required"
      name="street"
      placeholder="Street"
      aria-label="Street"
      (change)="search($event)"
      autocomplete="off">
  </mat-form-field>
</div>

<div fxLayout="row wrap" fxLayoutGap="5px">
  <mat-form-field fxFlex>
    <input
      matInput
      [(ngModel)]="address.city"
      [disabled]="config.city.disabled"
      [fsFormRequired]="config.city.required"
      name="city"
      placeholder="City"
      aria-label="City"
      (change)="search($event)"
      autocomplete="off">
  </mat-form-field>

  <fs-region
    [(region)]="address.region"
    (regionChange)="search()"
    [country]="address.country"
    [countries]="countries"
    [disabled]="config.region.disabled"
    [required]="config.region.required"
    name="region">
  </fs-region>

  <mat-form-field fxFlex>
    <mat-label>{{zipLabel}}</mat-label>
    <input
      matInput
      [(ngModel)]="address.zip"
      [disabled]="config.zip.disabled"
      [fsFormRequired]="config.zip.required"
      name="zip"
      aria-label="Zip"
      (change)="search($event)"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-select
      [(ngModel)]="address.country"
      [disabled]="config.country.disabled"
      [fsFormRequired]="config.country.required"
      name="country"
      placeholder="Country"
      aria-label="Country"
      (selectionChange)="changeCountry()"
      autocomplete="country">

      <mat-option *ngFor="let country of countries" [value]="country.code">
        <span>{{ country.name }}</span>
      </mat-option>

    </mat-select>
  </mat-form-field>


</div>

<div fxLayout="row" fxLayoutGap="5px" fxLayout.xs="column">

</div>

<div class="map-container" [hidden]="!config.map.showMap">

  <agm-map
    [ngStyle.xs]="{'height': '300px'}"
    [latitude]="config.map.center.latitude"
    [longitude]="config.map.center.longitude"
    [zoom]="config.map.zoom"
    [scrollwheel]="config.map.scrollwheel"
    [streetViewControl]="config.map.streetViewControl"
    [zoomControl]="config.map.zoomControl"
    [mapTypeControlOptions]="config.map.mapTypeControlOptions"
  >
    <agm-marker
      [latitude]="config.map.marker.coords.latitude"
      [longitude]="config.map.marker.coords.longitude"
      [markerDraggable]="config.map.marker.options.draggable"
      (dragEnd)="config.map.marker.events.dragend($event)"
    ></agm-marker>
  </agm-map>

  <div class="address-incomplete" fxLayout="row" fxLayoutAlign="center center" *ngIf="!address.lat && !address.lng">
    <div *ngIf="!isSearched">Please populate the address above to locate it on the map</div>
    <div *ngIf="isSearched">Could not find address "{{ searchedAddress }}"</div>
  </div>

  <div fxLayout="row" fxLayoutGap="5px" class="map-buttons">
      <button fxFlex
      mat-button
      type="button"
      *ngIf="(address.lat && address.lng) && (config.map.marker.coords.latitude && config.map.marker.coords.longitude)"
      (click)="recenter()"
    >Center Address</button>
    <button fxFlex
      type="button"
      mat-button
      (click)="collapseEditor()">Collapse Address</button>
  </div>
</div>
