<mat-form-field
  *ngIf="config.name.visible!==false"
  class="name">
  <input
    matInput
    autocomplete="nope"
    [(ngModel)]="address.name"
    [disabled]="config.name.disabled"
    [fsFormRequired]="config.name.required"
    name="location_name"
    placeholder="Location name"
    (change)="change($event)"
    autocomplete="off">
</mat-form-field>

<mat-form-field
  *ngIf="config.street.visible!==false"
  class="street">
  <input
    matInput
    autocomplete="nope"
    [(ngModel)]="address.street"
    [disabled]="config.street.disabled"
    [fsFormRequired]="config.street.required"
    name="street"
    placeholder="Street"
    (change)="change($event)"
    autocomplete="off">
</mat-form-field>

<div class="city-region-zip-country">
  <div class="city">
    <mat-form-field *ngIf="config.city.visible!==false">
      <input
        matInput
        autocomplete="nope"
        [(ngModel)]="address.city"
        [disabled]="config.city.disabled"
        [fsFormRequired]="config.city.required"
        name="city"
        placeholder="City"
        (change)="change($event)"
        autocomplete="off">
    </mat-form-field>
  </div>
  <div class="region">
    <fs-address-region
      *ngIf="config.region.visible!==false"
      [(region)]="address.region"
      (regionChange)="change()"
      [country]="address.country"
      [countries]="countries"
      [disabled]="config.region.disabled"
      [required]="config.region.required">
    </fs-address-region>
  </div>

  <div class="zip">
    <mat-form-field
      *ngIf="config.zip.visible!==false">
      <mat-label>{{ zipLabel }}</mat-label>
      <input
        matInput
        autocomplete="nope"
        [(ngModel)]="address.zip"
        [disabled]="config.zip.disabled"
        [fsFormRequired]="config.zip.required"
        name="zip"
        (change)="change($event)"
        autocomplete="off">
    </mat-form-field>
  </div>

  <div class="country">
    <fs-address-country
      *ngIf="config.country.visible!==false"
      [disabled]="config.country.disabled"
      [required]="config.country.required"
      [(ngModel)]="address.country"
      (selectionChange)="changeCountry()"
      name="address-country">
    </fs-address-country>
  </div>
</div>

<div class="map-container" *ngIf="mapConfig.showMap">

  <agm-map
    [ngStyle.xs]="{'height': '300px'}"
    [latitude]="mapConfig.center.latitude"
    [longitude]="mapConfig.center.longitude"
    [zoom]="mapConfig.zoom"
    [scrollwheel]="mapConfig.scrollwheel"
    [streetViewControl]="mapConfig.streetViewControl"
    [zoomControl]="mapConfig.zoomControl"
    [mapTypeControlOptions]="mapConfig.mapTypeControlOptions">
    <agm-marker
      [latitude]="mapConfig.marker.coords.latitude"
      [longitude]="mapConfig.marker.coords.longitude"
      [markerDraggable]="mapConfig.marker.options.draggable"
      (dragEnd)="mapConfig.marker.events.dragend($event)">
    </agm-marker>
  </agm-map>

  <div class="address-incomplete" *ngIf="!address.lat && !address.lng">
    <div *ngIf="!isSearched">Please populate the address above to locate it on the map</div>
    <div *ngIf="isSearched">Could not find address "{{ searchedAddress }}"</div>
  </div>
</div>