<fs-address-picker
  [(address)]="address"
  [(config)]="config"
  #picker
></fs-address-picker>

<p style="font-size: 11px"><b>Note:</b> for address picker, you would never want to use address-only formatting.</p>

<p *ngIf="picker.isEdit">
  <button
    mat-raised-button
    color="primary"
    (click)="viewSearch()"
  >Collapse Address Editor</button>
</p>

<h3>Formatted Address</h3>
<fs-address-format
  [(address)]="address"
></fs-address-format>

<fieldset>
  <legend>Address Format Config</legend>
  {{ addressFormatConfig | json }}
</fieldset>
