<fs-autocomplete
  #autocomplete
  [fetch]="fetch"
  [displayWith]="displayWith"
  [fetchOnFocus]="true"
  [(ngModel)]="model"
  (ngModelChange)="regionChanged()"
  [placeholder]="regionLabel"
  [required]="true"
  name="model">

  <ng-template fsAutocompleteTemplate let-data="data">
    <span>{{ data.name }}</span>
  </ng-template>


  <ng-template fsAutocompleteStatic
               let-keyword
               [showWhenKeyword]="true">
    <div (click)="selectUserOption(keyword)">
      Just Use "{{ keyword }}"
    </div>
  </ng-template>

  <ng-template fsAutocompleteNoResults></ng-template>

</fs-autocomplete>
