<mat-form-field [floatLabel]="empty ? 'auto' : 'always'">
  <mat-label>
    {{ placeholder }}
  </mat-label>
  <ng-content></ng-content>
  <input
    matInput
    type="text"
    autocomplete="off"
    [(ngModel)]="inputAddress"
    [matAutocomplete]="autocomplete"
    [name]="autocompleteName"
    [disabled]="disabled"
    [fsClear]="showClear && !empty && !disabled && !readonly"
    (cleared)="clear()"
    #searchInput="ngModel">
  <mat-autocomplete
      [displayWith]="displayWith"
      autoActiveFirstOption
      [class]="'fs-autocomplete-pane'"
      #autocomplete="matAutocomplete">
    @for (option of googleSuggestions; track option) {
      <mat-option [value]="option">
        {{ option.placePrediction.text.text }}
      </mat-option>
    }
    @if (!config.hideEnterManually) {
      <div class="static-options">
        <mat-option [value]="{ manual: true, value: searchInput.value }">
          Enter address manually
        </mat-option>
      </div>
    }
  </mat-autocomplete>
  @if (config.hint) {
    <mat-hint>
      {{ config.hint }}
    </mat-hint>
  }
</mat-form-field>