<mat-form-field [floatLabel]="empty ? 'auto' : 'always'">
  <mat-label>{{placeholder}}</mat-label>
  <ng-content></ng-content>
  <input
    matInput
    type="search"
    autocomplete="off"
    [(ngModel)]="inputAddress"
    [matAutocomplete]="autocomplete"
    [name]="autocompleteName"
    [disabled]="disabled"
    [fsClear]="showClear && !empty && !disabled && !readonly"
    (cleared)="clear()"
    #searchInput>
  <mat-autocomplete
      [displayWith]="displayWith"
      (closed)="autocompletePanelClosed()"
      autoActiveFirstOption
      [class]="'fs-autocomplete-pane'"
      #autocomplete="matAutocomplete">
    <mat-option *ngFor="let option of predictions" [value]="option">
      {{ option.description }}
    </mat-option>
    <div *ngIf="!config.hideEnterManually" class="static-options">
      <mat-option [value]="null" (click)="manual(searchInputValue)">
        Enter address manually
      </mat-option>
    </div>
  </mat-autocomplete>
  <mat-hint *ngIf="config.hint">{{ config.hint }}</mat-hint>
</mat-form-field>