<input
  matInput
  type="search"
  autocomplete="off"
  [(ngModel)]="inputAddress"
  (blur)="blurAutocompleteInput()"
  [matAutocomplete]="autocomplete"
  [name]="autocompleteName"
  [disabled]="disabled"
  #searchInput>

<mat-autocomplete
    [displayWith]="displayWith"
    (closed)="autocompletePanelClosed()"
    autoActiveFirstOption
    #autocomplete="matAutocomplete">
  <mat-option *ngFor="let option of predictions" [value]="option">
    {{ option.description }}
  </mat-option>
  <div *ngIf="!config.hideEnterManually" class="static-options">
    <mat-option [value]="{ id: 'manual', name: inputAddress }">
      Enter address manually
    </mat-option>
  </div>
</mat-autocomplete>
