.static-options {
  position: sticky;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #e0e0e0;
}

mat-form-field {
  width: 100%;
}

mat-option ::ng-deep {
  mat-pseudo-checkbox {
    display: none;
  }
}

// hack to support outline when control is invalid
:host(.ng-invalid.ng-dirty) ::ng-deep{
  .mat-form-field-outline {
    color: #f44336;
  }

  .mat-form-field-outline-thick {
    opacity: 1;
  }
}
