.twoline {
  .line-1 {
    font-weight: bold;
    display: block;
  }

  .line-2 {
    font-size: smaller;
  }
}

.part + .part:before {
  content: ', ';
}

.part:last-child:after {
  content: '';
}

