<form>
  <label> Disabled Address </label>
  <fs-address-picker
    [(address)]="address"
    [(config)]="config"
    format="twoline"
    disabled="true"
    #disabledPicker>
  </fs-address-picker>

  <label> Readonly Address </label>
  <fs-address-picker
    [(address)]="address"
    [(config)]="config"
    format="twoline"
    readonly="true"
    #readonlyPicker>
  </fs-address-picker>
</form>

<fieldset [hidden]="format.empty">
  <legend>Selected Address Disabled Style</legend>
  <fs-address-format #format [(address)]="address" format="twoline" disabled="true"></fs-address-format>
</fieldset>
