<form>
  <label> Disabled Address </label>
  <fs-address-picker
    [(address)]="address"
    [config]="config"
    [format]="AddressFormat.TwoLine"
    disabled="true"
    #disabledPicker
    id="bodyRowOneDisabledAndReadonly0">
  </fs-address-picker>

  <label> Readonly Address </label>
  <fs-address-picker
    [(address)]="address"
    [config]="config"
    [format]="AddressFormat.TwoLine"
    readonly="true"
    #readonlyPicker
    id="bodyRowTwoDisabledAndReadonly0">
  </fs-address-picker>
</form>

<fieldset [hidden]="format.empty" id="bodyPanelDisabledAndReadonly0">
  <legend>Selected Address Disabled Style</legend>
  <fs-address-format #format [address]="address" [format]="AddressFormat.TwoLine" [disabled]="true"></fs-address-format>
</fieldset>
