<fs-address-picker
  [(ngModel)]="address"
  name="address"
  [config]="config"
  (addressChange)="changed($event)">
</fs-address-picker>
@if (address?.country) {
  <fieldset id="selectedAddrField0">
    <legend>
      Selected Address
    </legend>
    <fs-address-format [address]="address"></fs-address-format>
  </fieldset>

  <fieldset>
    <legend>Returned address object (note <code>id</code> = Google Place ID)</legend>
    <pre data-cy="address-json">{{ address | json }}</pre>
  </fieldset>
}