<div class="address-picker-container">

  <div class="search" *ngIf="view === 'search'; else addressEdit">
    <fs-address-search
      [(address)]="address"
      [config]="config"
      [format]="config.format"
      [disabled]="config.disabled"
      [readonly]="config.readonly"
      [name]="name"
      (edited)="searchEdited()"
      (addressChange)="addressChange.emit($event)">
    </fs-address-search>
  </div>

  <ng-template #addressEdit>
    <fs-address
      #addressComponent
      [(address)]="address"
      [config]="config"
      (addressChange)="addressChange.emit($event)">
    </fs-address>

    <div fxLayout="row" fxLayoutGap="5px" class="map-buttons" fxLayout.xs="column">
      <button
        mat-button
        type="button"
        *ngIf="address.lat && address.lng"
        (click)="recenter()">
        Center Address
      </button>

      <button
        type="button"
        mat-button
        (click)="viewSearch()">
        Collapse Address
      </button>
    </div>
  </ng-template>
</div>
