<div class="address-picker-container">
  <div class="search">
    <fs-address-search
      [address]="address"
      [config]="config"
      [format]="config.format"
      [disabled]="config.disabled"
      [readonly]="config.readonly"
      [showName]="showName"
      (edit)="addressEdit()"
      (cleared)="addressChanged(null)"
      (addressChange)="addressChanged($event)"
      (addressManual)="addressManual($event)"
      (selected)="addressSelected($event)">
    </fs-address-search>
  </div>
</div>
