.address-picker-container {
  position: relative;
}

.input-controls {
  position: absolute;
  top: 0;
  right: 0;
}

:host ::ng-deep {
  .search {
    .mat-form-field-flex {
      flex-direction: row;
    }

    .mat-form-field-suffix {
      align-self: center;
    }
  }

  .hide-underline {
    .mat-form-field-underline {
      display: none;
    }
    .mat-form-field-subscript-wrapper {
      margin-top: 0;
    }
  }
}

.map-buttons {
  margin-top: 5px;
  button {
      width: 100%;
  }
}
