<fs-examples [config]="config">

  <fs-example name="Address Picker" componentName="kitchen-sink">
    <kitchen-sink></kitchen-sink>
  </fs-example>

  <fs-example name="Confirmation Address Picker" componentName="picker-with-confirmation">
    <picker-with-confirmation></picker-with-confirmation>
  </fs-example>

  <fs-example name="Address Form" componentName="address-form">
    <address-form></address-form>
  </fs-example>

  <!-- <fs-example name="Two-line, no required" componentName="address-picker-no-validation-twoline-example">
    <address-picker-no-validation-twoline-example></address-picker-no-validation-twoline-example>
  </fs-example> -->
<!--
  <fs-example name="Summary, without name, no-required" componentName="address-picker-no-validation-summary-example">
    <address-picker-no-validation-summary-example></address-picker-no-validation-summary-example>
  </fs-example> -->
<!--
  <fs-example name="Required validation, two-line format" componentName="address-picker-required-not-blank-example">
    <address-picker-required-not-blank-example></address-picker-required-not-blank-example>
  </fs-example> -->

   <fs-example name="Two-line format,  pre-filled" componentName="address-picker-pre-filled-example">
    <address-picker-pre-filled-example></address-picker-pre-filled-example>
  </fs-example>

  <fs-example name="Format Examples" componentName="format-example">
    <format-example></format-example>
  </fs-example>

  <fs-example name="Disabled and Readonly addresses" componentName="address-disabled-or-readonly-example">
    <address-disabled-or-readonly-example></address-disabled-or-readonly-example>
  </fs-example>

  <!-- <fs-example name="Custom collapse button example" componentName="address-picker-custom-collapse-btn-example">
    <address-picker-custom-collapse-btn-example></address-picker-custom-collapse-btn-example>
  </fs-example> -->

  <fs-example name="Address Region, no validation, horizontal" componentName="address-region-no-validation-example">
    <address-region-no-validation-example></address-region-no-validation-example>
  </fs-example>

  <fs-example name="Address Region, pre-filled, horizontal stretched" componentName="address-region-prefilled-example">
    <address-region-prefilled-example></address-region-prefilled-example>
  </fs-example>

  <fs-example name="Address Region, required" componentName="address-region-required-example">
    <address-region-required-example></address-region-required-example>
  </fs-example>

  <fs-example name="Address Region, disabled" componentName="address-region-disabled-example">
    <address-region-disabled-example></address-region-disabled-example>
  </fs-example>

</fs-examples>

