<fs-examples
  title="Address"
  githubUrl="https://github.com/Firestitch/fs-address"
  npmUrl="https://www.npmjs.com/package/@firestitch/address">

  <fs-example title="No Validation" componentName="address-picker-no-validation-example">
    <address-picker-no-validation-example></address-picker-no-validation-example>
  </fs-example>

  <fs-example title="Required validation, two-line format, prefilled" componentName="address-picker-required-not-blank-example">
    <address-picker-required-not-blank-example></address-picker-required-not-blank-example>
  </fs-example>

  <fs-example title="Address Picker: two-line pre-filled" componentName="address-picker-pre-filled-example">
    <address-picker-pre-filled-example></address-picker-pre-filled-example>
  </fs-example>

  <fs-example title="Format Examples" componentName="format-example">
    <format-example></format-example>
  </fs-example>

<!--


  <fs-example title="Address Picker: Required all, first-line formatting" componentName="address-picker-required-all-example">
    <address-picker-required-all-example></address-picker-required-all-example>
  </fs-example>

  <fs-example title="Address Picker: Lat/Long required, address-only formatting" componentName="address-picker-map-required-example">
    <address-picker-map-required-example></address-picker-map-required-example>
  </fs-example>

  <fs-example title="Full Address" componentName="full-address-example">
    <full-address-example></full-address-example>
  </fs-example>

  <fs-example title="Full Address Disabled" componentName="full-address-disabled-example">
    <full-address-disabled-example></full-address-disabled-example>
  </fs-example>
-->

</fs-examples>

