<fs-examples title="Address Component">
  <fs-example title="Address Picker: No Validation" componentName="address-picker-no-validation-example">
    <address-picker-no-validation-example></address-picker-no-validation-example>
  </fs-example>

  <fs-example title="Address Picker: Required (not blank)" componentName="address-picker-required-not-blank-example">
    <address-picker-required-not-blank-example></address-picker-required-not-blank-example>
  </fs-example>

  <fs-example title="Address Picker: Required all" componentName="address-picker-required-all-example">
    <address-picker-required-all-example></address-picker-required-all-example>
  </fs-example>

  <fs-example title="Full Address" componentName="first-example">
    <full-address-example></full-address-example>
  </fs-example>

  <fs-example title="Address Search" componentName="address-search-example">
    <address-search-example></address-search-example>
  </fs-example>
</fs-examples>

