<mat-form-field>

  <input matInput
         placeholder="Location"
         [ngClass]="{'hide': pickerMode && mainAddressPart}"
         [ngModel]="addressFullNameString"
         (ngModelChange)="addressChanged($event)"
         (change)="change($event);"
         [fsFormRequired]="isRequired"
         [fsFormFunction]="functionPromise"
         #search
         [matAutocomplete]="auto">

  <div [hidden]="!pickerMode && mainAddressPart">
    <div class="main">{{mainAddressPart}}</div>
    <div class="secondary">{{addressFullName.join(', ')}}</div>
  </div>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectionChange($event)">
    <mat-option *ngFor="let option of predictions" [value]="option.description">
      {{option.description}}
    </mat-option>
  </mat-autocomplete>

  <mat-icon class="control" matSuffix *ngIf="pickerMode && mainAddressPart" (click)="clear()">clear</mat-icon>
  <mat-icon class="control" matSuffix *ngIf="pickerMode && mainAddressPart" (click)="edit()">mode_edit</mat-icon>

</mat-form-field>
