mat-form-field {
  width: 100%;
}

.main {
  font-weight: 500;
  padding-bottom: 2px;
}

.secondary {
  font-size: 12px;
}

.control {
  cursor: pointer;
}

.hide {
  visibility: hidden;
  position: absolute;
}
