<mat-form-field>

  <input matInput
         placeholder="Location"
         [(ngModel)]="location"
         [ngClass]="{hide: !emptyAddress}"
         [fsFormRequired]="isRequired"
         [fsFormFunction]="functionPromise"
         [matAutocomplete]="autocomplete"
         [ngModelOptions]="{updateOn: 'blur'}"
         (keyup)="addressChanged($event)"
         (blur)="blur()"
         #search>
  <fs-address-format [(address)]="address" [format]="format"></fs-address-format>

  <mat-autocomplete
    (optionSelected)="autocompleteSelected($event.option)"
    [displayWith]="autocompleteFormat"
    autoActiveFirstOption
    #autocomplete="matAutocomplete">
    <mat-option *ngFor="let option of predictions" [value]="option">
      {{option.description}}
    </mat-option>
  </mat-autocomplete>

  <mat-icon
    class="control"
    matSuffix
    *ngIf="showClear && !emptyAddress"
    (click)="clear()">clear</mat-icon>

  <mat-icon
    class="control"
    matSuffix
    *ngIf="showEdit && !emptyAddress"
    (click)="edit()">mode_edit</mat-icon>

</mat-form-field>
