<mat-form-field>

  <input matInput
         placeholder="Location"
         [(ngModel)]="location"
         [ngClass]="{hide: !emptyAddress}"
         (ngModelChange)="addressChanged($event)"
         [fsFormRequired]="isRequired"
         [fsFormFunction]="functionPromise"
         [matAutocomplete]="auto"
         #search>
  <fs-address-format [(address)]="address" [format]="format"></fs-address-format>

  <mat-autocomplete
    (optionSelected)="selectionChange($event.option)"
    [displayWith]="autocompleteFormat"
    autoActiveFirstOption
    #auto="matAutocomplete">
    <mat-option *ngFor="let option of predictions" [value]="option">
      {{option.description}}
    </mat-option>
  </mat-autocomplete>

  <mat-icon
    class="control"
    matSuffix
    *ngIf="showClear && !emptyAddress"
    (click)="clear()">clear</mat-icon>

  <mat-icon
    class="control"
    matSuffix
    *ngIf="showEdit && !emptyAddress"
    (click)="edit()">mode_edit</mat-icon>

</mat-form-field>
