<div fsDrawerContent class="content">

  <h2>Configure</h2>
  <div class="configs">

    <mat-form-field>
      <mat-select placeholder="Format" [(ngModel)]="config.format" name="format">
        <mat-option value="oneline">1 Line</mat-option>
        <mat-option value="twoline">2 Line</mat-option>
        <mat-option value="summary">Summary</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Label" [(ngModel)]="config.label" name="label">
    </mat-form-field>

    <table>
      <tr>
        <th></th>
        <th>Visible</th>
        <th>Disabled</th>
        <th>Required</th>
      </tr>
      <tr>
        <td>Name</td>
        <td>
            <mat-checkbox [(ngModel)]="config.name.visible" name="nameVisible"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.name.disabled" name="nameDisabled"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.name.required" name="nameRequired"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>Street</td>
        <td>
            <mat-checkbox [(ngModel)]="config.street.visible" name="streetVisible"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.street.disabled" name="streetDisabled"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.street.required" name="streetRequired"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>City</td>
        <td>
            <mat-checkbox [(ngModel)]="config.city.visible" name="cityVisible"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.city.disabled" name="cityDisabled"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.city.required" name="cityRequired"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>Region</td>
        <td>
            <mat-checkbox [(ngModel)]="config.region.visible" name="regionVisible"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.region.disabled" name="regionDisabled"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.region.required" name="regionRequired"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>zip</td>
        <td>
            <mat-checkbox [(ngModel)]="config.zip.visible" name="zipVisible"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.zip.disabled" name="zipDisabled"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.zip.required" name="zipRequired"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>Country</td>
        <td>
            <mat-checkbox [(ngModel)]="config.country.visible" name="countryVisible"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.country.disabled" name="countryDisabled"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.country.required" name="countryRequired"></mat-checkbox>
        </td>
      </tr>
    </table>

  </div>

</div>
