<!-- <div fsDrawerContent class="content">

  <h2>Configure</h2>
  <div class="configs">

    <fs-label-field>
      <fs-label>Flags</fs-label>
      <div fxLayout="column">
        <mat-checkbox [(ngModel)]="config.disabled" [value]="true">Disabled</mat-checkbox>
        <mat-checkbox [(ngModel)]="config.readonly" [value]="true">Readonly</mat-checkbox>
      </div>
    </fs-label-field>

    <mat-form-field>
      <mat-select placeholder="Format" [(ngModel)]="config.format" name="format">
        <mat-option value="oneline">1 Line</mat-option>
        <mat-option value="twoline">2 Line</mat-option>
        <mat-option value="summary">Summary</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Label" [(ngModel)]="config.label" name="label">
    </mat-form-field>

    <table>
      <tr>
        <th></th>
        <th>Visible</th>
        <th>Disabled</th>
        <th>Required</th>
      </tr>
      <tr>
        <td>Name</td>
        <td>
            <mat-checkbox [(ngModel)]="config.name.visible" [value]="true"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.name.disabled" [value]="true"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.name.required" [value]="true"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>Street</td>
        <td>
            <mat-checkbox [(ngModel)]="config.street.visible" [value]="true"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.street.disabled" [value]="true"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.street.required" [value]="true"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>City</td>
        <td>
            <mat-checkbox [(ngModel)]="config.city.visible" [value]="true"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.city.disabled" [value]="true"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.city.required" [value]="true"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>Region</td>
        <td>
            <mat-checkbox [(ngModel)]="config.region.visible" [value]="true"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.region.disabled" [value]="true"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.region.required" [value]="true"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>zip</td>
        <td>
            <mat-checkbox [(ngModel)]="config.zip.visible" [value]="true"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.zip.disabled" [value]="true"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.zip.required" [value]="true"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>Country</td>
        <td>
            <mat-checkbox [(ngModel)]="config.country.visible" [value]="true"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.country.disabled" [value]="true"></mat-checkbox>
        </td>
        <td>
            <mat-checkbox [(ngModel)]="config.country.required" [value]="true"></mat-checkbox>
        </td>
      </tr>
    </table>

  </div>

</div> -->
