agm-map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

[hidden] { display: none !important; }

.map-buttons {
    margin-top: 5px;
}
.map-container {
    position: relative;

    .address-incomplete {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
        border: 1px solid #efefef;
        height: 100%;
        line-height: 100%;
        opacity: 0.87;
        font-size: larger;
        padding: 40px;
        text-align: center;
    }

    .center {
        position: absolute;
        right: 20px;
        top: 20px;
        right: 5px;
        top: 5px;
        z-index: 5;
        background-color: #fff;
    }
}
