<div>
  <div fxLayout="row">
    <mat-form-field fxFlex>
      <input
        matInput
        [(ngModel)]="address.address"
        [attr.disabled]="config.address.disabled"
        [fsFormRequired]="config.address.required"
        name="address"
        placeholder="Address"
        aria-label="Address"
        (change)="search()"
        autocomplete="off">
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field fxFlex>
      <input
        matInput
        [(ngModel)]="address.city"
        [attr.disabled]="config.city.disabled"
        [fsFormRequired]="config.city.required"
        name="city"
        placeholder="City"
        aria-label="City"
        (change)="search()"
        autocomplete="off">
    </mat-form-field>
    <mat-form-field fxFlex>
      <input
        matInput
        [(ngModel)]="address.zip"
        [attr.disabled]="config.zip.disabled"
        [fsFormRequired]="config.zip.required"
        name="zip"
        placeholder="{{ zipLabel }}"
        (change)="search()"
        autocomplete="off">
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field fxFlex>

      <mat-select
        [(ngModel)]="address.country.shortName"
        [attr.disabled]="config.country.disabled"
        [fsFormRequired]="config.country.required"
        name="country"
        placeholder="Country"
        aria-label="Country"
        (change)="changeCountry()"
        autocomplete="off">

        <mat-option *ngFor="let country of countries" [value]="country.code">
          <span>{{ country.name }}</span>
        </mat-option>

      </mat-select>

    </mat-form-field>

    <mat-form-field fxFlex>

      <mat-select
        [(ngModel)]="address.state.shortName"
        [attr.disabled]="config.state.disabled"
        [fsFormRequired]="config.state.required"
        name="state"
        placeholder="{{ stateLabel }}"
        (change)="changeState()"
        autocomplete="off">

        <mat-option *ngFor="let state of states" [value]="state.code">
          <span>{{ state.name }}</span>
        </mat-option>

      </mat-select>

    </mat-form-field>
  </div>

  <div class="map-container" [hidden]="!mapOptions.showMap">

    <button
      mat-button
      class="center"
      type="button"
      *ngIf="(address.lat && address.lng) && (mapOptions.marker.coords.latitude && mapOptions.marker.coords.longitude)"
      (click)="recenter()"
    >Center Map using Address</button>

    <agm-map
      [latitude]="mapOptions.center.latitude"
      [longitude]="mapOptions.center.longitude"
      [zoom]="mapOptions.zoom"
      [scrollwheel]="mapOptions.scrollwheel"
      [streetViewControl]="mapOptions.streetViewControl"
      [zoomControl]="mapOptions.zoomControl"
      [mapTypeControlOptions]="mapOptions.mapTypeControlOptions"
    >
      <agm-marker
        [latitude]="mapOptions.marker.coords.latitude"
        [longitude]="mapOptions.marker.coords.longitude"
        [markerDraggable]="mapOptions.marker.options.draggable"
        (dragEnd)="mapOptions.marker.events.dragend($event)"
      ></agm-marker>
    </agm-map>

    <div class="address-incomplete" fxLayout="row" fxLayoutAlign="center center" *ngIf="!address.lat && !address.lng">
      <div *ngIf="!isSearched">Please populate the address above to locate it on the map</div>
      <div *ngIf="isSearched">Could not find address "{{ searchedAddress }}"</div>
    </div>
  </div>
</div>
